body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgba(223, 238, 238, 255);
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
  font-family: "Noto Serif TC", serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  top: 5%;
}

h1 {
  margin: 5% auto 2%;
  font-size: 2em;
  white-space: nowrap;
}

h6 {
  margin: 0;
  font-weight: 600;
  font-size: 0.5em;
}

main {
  position: relative;
  height: 88vh;
  width: 88vw;
}

.text {
  letter-spacing: 2px;
}

/********************* holder section *****************/
.holder-with-poems {
  position: absolute;
  right: 50%;
  top: 55%;
  transform: translateX(50%);
}

.before,
.after {
  height: 50%;
}

.after {
  z-index: 4;
}

/********************* scrolls section *****************/

.scroll {
  height: 40%;
  transform: translate(0, -50%);
  z-index: 3;
}

.scroll_4 {
  transform: translate(50%, -50%);
  z-index: 2;
}

.scroll_5,
.scroll_6 {
  left: 50%;
}

.scroll_5 {
  height: 37%;
  top: 58%;
}

.scroll_6 {
  z-index: 1;
}

/********************* scrolls picked section *****************/

.picked {
  /* will-change: transform; */
  transform: scale(1.2) translate(0, -50%);
}

.scroll_4.picked {
  /* will-change: transform top; */
  transform: scale(1.2) translate(50%, -50%);
  top: 54%;
}

.scroll_5.picked {
  /* will-change: transform top; */
  transform: scale(1.2) translate(0, -50%);
  top: 55%;
}

/********************* poem section *****************/

.poem {
  height: 60%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********************* button section *****************/

.btn-section {
  position: absolute;
  bottom: 10vh;
}

button {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 40px;
  background: linear-gradient(
    185deg,
    rgba(14, 233, 200, 1) 0%,
    rgba(136, 201, 201, 0.8323923319327731) 100%
  );
  border: none;
  color: #1b1f1f;
  border-radius: 5px;
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  font-size: 1em;
  white-space: nowrap;
  text-align: justify;
}

button:hover,
.hightlight {
  transform: scale(1.1) translateX(-50%);
  border: solid 3px #4fb8b8;
}

/********************* hide & display functionality *****************/

.hidden {
  visibility: hidden;
  z-index: -1;
}

.show {
  visibility: visible;
  z-index: 5;
}

/********************* shaking functionality *****************/

.shake {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: linear;
  animation-iteration-count: 10;
}

@keyframes shake {
  0% {
    transform: rotate(12deg);
  }

  25% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(-12deg);
  }

  100% {
    transform: rotate(0);
  }
}

/********************* poem entry animations *****************/

.entry {
  animation-name: entry;
  animation-duration: 1200ms;
  animation-timing-function: ease-in-out;
}

@keyframes entry {
  0% {
    will-change: transform, opacity;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }

  25% {
    will-change: transform, opacity;
    opacity: 30%;
    transform: translate(-50%, -50%);
  }

  90% {
    will-change: transform, opacity;
    opacity: 100%;
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    will-change: transform, opacity;
    opacity: 100%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (min-width: 940px) {
  h1 {
    margin: 2% auto 1%;
  }

  .btn-section {
    bottom: 15vh;
  }

  .poem {
    top: 58%;
  }
}
